<div class="signup-banner" [class.show]="isDefaultCredentials">
  <div class="container signup-banner-wrapper">
    <p class="signup-banner-text">
      This sample uses Frontegg's default credentials. Sign up to use your own configurations.
      <a href="https://portal.frontegg.com/signup" target="_blank" rel="noreferrer">
        Sign up
      </a>
    </p>
    <div class="reference-links">
      <a href="https://developers.frontegg.com/" target="_blank" rel="noreferrer" class="visit-doc">
        <img src="assets/icons/open-in-new.svg" alt="open-in-new" />
        Visit Docs
      </a>
      <div class="third-party-links">
        <a href="https://github.com/frontegg" target="_blank" rel="noreferrer" class="icon-link">
          <img src="assets/icons/github.svg" alt="github" />
        </a>
        <a href="https://join.slack.com/t/frontegg-community/shared_invite/zt-e1oxi1vn-SZErBZcwHcbgj4vrwRIp5A" target="_blank" rel="noreferrer" class="icon-link">
          <img src="assets/icons/slack.svg" alt="slack" />
        </a>
      </div>
    </div>
  </div>
</div>